.infoSection{
    padding: 80px 0px;
    width:100%;
}
.infoSection__wrapper{
    max-width: 1380px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
}
.infoSection__text_conten{
    width: 50%;
}
.infoSection__image_conten{
    width: 35%;
    position: relative;
}
.infoSection__image{
    width: 100%;
    box-shadow: 8px 8px 45px -1px rgba(177, 177, 177, 0.25);
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}
.infoSection__icon{
    position: absolute;
    z-index: 2;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    width: 12%;
}
.infoSection__icon:hover {
    cursor: pointer;
}
.infoSection__text_conten > h1{
    font-size: 2.6rem;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 1.6rem;
    color: #404040;
}
.infoSection__text_conten > span{
    font-family: 'Kristi', cursive;
    font-size: 36px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: -23px;
    display: block;
    background: -webkit-linear-gradient(#71bf44f5, #a7afa100);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.infoSection__text_conten > p{
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 1rem;
    color: #3D3D3D;
    line-height: 182.6%;
}