.siteData{
    width: 100%;
    padding: 80px 0px;
}
.siteData__datacard_wrapper{
    max-width: 1380px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
@media (max-width: 768px){
    .siteData{
        width: 100%;
        padding: 40px 0px;
    }
}