.worldDataSection{
 text-align: center;
 padding: 80px 20px;
}
.worldDataSection > h1{
    max-width: 900px;
    font-size: 3rem;
    padding-bottom: 20px;
    font-weight: 400;
    color: #404040;
    margin:0 auto;
    z-index: 5;
    position: relative;
}
.worldDataSection > p{
    max-width: 700px;
    font-size: 1rem;
    padding: 20px 0;
    font-weight: 500;
    color: #7B7B7B;
    margin:0 auto;
    z-index: 5;
    position: relative;
    width: 100%;
}
.worldDataSection__datacard_wrapper{
    max-width: 1380px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}
@media (max-width: 768px){
    .worldDataSection{
        padding: 30px 20px;
       }
    .worldDataSection > h1{
        font-size: 2rem;
    }
    .worldDataSection > p{
        font-size: 0.89rem;
    }
}
@media (max-width: 576px){
    .worldDataSection__datacard_wrapper {
        margin-top: 20px;
    }
}